#detailedinfo .information {
	text-align: center;
}

#random-shop-quote p:not(.chosen) {
	display: none;
}

.shop-items-table {
	margin: 20px auto;
	width: 100%;
}

table.shop-items-table th {
	background: var(--skeuomorphism);
	padding: 10px;
}

td.item_image img {
	max-width: fit-content;
}

img[src*="NPC_SING_BLANK.png"] {
	width: 16px;
	height: 16px;
	padding: 0px;
	background-image: url("https://deltaruneboards.net/assets/items/ENEMY_SILENT.png");
}
	
img[src*="NPC_SING_BLANK.png"]:hover {
	width: 16px;
	height: 16px;
	padding: 0px;
	background-image: url("https://deltaruneboards.net/assets/items/ENEMY_SILENT_2.png");
}
	
img[src*="NPC_CACTUS_BLANK.png"] {
	width: 14px;
	height: 16px;
	padding: 0px;
	background-image: url("https://deltaruneboards.net/assets/items/NPC_CACTUS.png");
}
	
img[src*="NPC_CACTUS_BLANK.png"]:hover {
	width: 14px;
	height: 16px;
	padding: 0px;
	background-image: url("https://deltaruneboards.net/assets/items/NPC_CACTUS_1.png");
}